<div class="container">
  <div class="box">
    <div class="leftbox">
        <h1>Welcome</h1>
        <h3>Let's get you started</h3>
            <form [formGroup]="userprofileForm" (ngSubmit)="onSubmit()">
                
                <div class="form">
                    <div class="left-form">
                        <label>First name</label>
                        <input type="text" formControlName="firstName">
                        <div *ngIf="firstName.invalid&&(firstName.dirty || firstName.touched)" class="danger">
                            <div *ngIf="firstName.errors.required">
                                *First name is required
                            </div>
                        </div>
                        <label>Username</label>
                        <input type="text" formControlName="userName">
                        <div *ngIf="userName.invalid&&(userName.dirty || userName.touched)" class="danger">
                            <div *ngIf="userName.errors.required">
                                *Username is required
                            </div>
                            <div *ngIf="userName.errors.minlength">
                                *Must be atleast 6 characters
                            </div>
                            
                        </div>
                        <label>Date of birth</label>
                        <input type="date" formControlName="dob">
                        <div *ngIf="dob.invalid&&(password.dirty || dob.touched)" class="danger">
                            <div *ngIf="dob.errors.required">
                                *Date of birth is required
                            </div>
                            
                        </div>
                    </div>
    
                    <div class="right-form">
                        <label>Last name</label>
                        <input type="text" formControlName="lastName">
                        <div *ngIf="lastName.invalid&&(lastName.dirty || lastName.touched)" class="danger">
                            <div *ngIf="lastName.errors.required">
                                *Last name is required
                            </div>
                            
                        </div>
                        <label>Password</label>
                        <input type="password" formControlName="password">
                        <div *ngIf="password.invalid&&(password.dirty || password.touched)" class="danger">
                            <div *ngIf="password.errors.required">
                                *Password is required
                            </div>
                            <div *ngIf="password.errors.minlength">*Must be 8 characters</div>
                        </div>
                        <label>Country</label>
                        <input type="text" formControlName="country">
                        <div *ngIf="country.invalid&&(country.dirty || country.touched)" class="danger">
                            <div *ngIf="country.errors.required">
                                *Country is required
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <p><input type="checkbox">I agree to all statements included in <a href="#">Terms of Use</a></p>
                <button id="btn" type="submit">Sign Up</button>
            </form>
            
            <div class="other">
                <p>Or sign up using</p>
                <div class="signup">
                    <img src="https://img.icons8.com/color/48/000000/google-logo.png"/>
                    <img src="https://img.icons8.com/fluent/48/000000/github.png"/>
                    <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
                </div>
            </div>
    </div>
    <div class="rightbox">
        <div class="img">
            <img src="../assets/img/relax.svg" alt="">
        </div>
    </div>
  </div>
</div>